<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inhe.mdm.dao.MdmAaPowerOffDao" >
  <resultMap id="BaseResultMap" type="com.inhe.mdm.model.MdmAaPowerOff" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="WAY" property="way" jdbcType="VARCHAR" />
    <result column="REF_ID" property="refId" jdbcType="VARCHAR" />
    <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
    <result column="NOW_TIME" property="nowTime" jdbcType="VARCHAR" />
    <result column="OFF_TYPE" property="offType" jdbcType="VARCHAR" />
    <result column="REF_CONTENT" property="refContent" jdbcType="VARCHAR" />
    <result column="USER_COUNT" property="userCount" jdbcType="INTEGER" />
    <result column="OFF_USER_COUNT" property="offUserCount" jdbcType="INTEGER" />
    <result column="OFF_THREE_USER_COUNT" property="offThreeUserCount" jdbcType="INTEGER" />
    <result column="IMPORTANT_COUNT" property="importantCount" jdbcType="INTEGER" />
    <result column="IMPORTANT_OFF_DURATION" property="importantOffDuration" jdbcType="DOUBLE" />
    <result column="IMPORTANT_OFF_TIMES" property="importantOffTimes" jdbcType="INTEGER" />
    <result column="TOTAL_OFF_DURATION" property="totalOffDuration" jdbcType="DOUBLE" />
    <result column="TOTAL_OFF_TIMES" property="totalOffTimes" jdbcType="INTEGER" />
    <result column="AVE_OFF_DURATION" property="aveOffDuration" jdbcType="DOUBLE" />
    <result column="AVE_OFF_TIMES" property="aveOffTimes" jdbcType="DOUBLE" />
    <result column="CDATE" property="cdate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="ResultMapWithBLOBs" type="com.inhe.mdm.model.VtMdmAaPowerOff" extends="BaseResultMap">
		<result column="LINE_NAME" property="lineName" jdbcType="VARCHAR" />
		<result column="TM_NAME" property="tmName" jdbcType="VARCHAR" />
	</resultMap>
	
  <sql id="Base_Column_List" >
    ID, ORG_ID, DEPT_ID, WAY, REF_ID, DATA_TYPE, NOW_TIME, OFF_TYPE, REF_CONTENT, USER_COUNT, 
    OFF_USER_COUNT, OFF_THREE_USER_COUNT, IMPORTANT_COUNT, IMPORTANT_OFF_DURATION, IMPORTANT_OFF_TIMES, 
    TOTAL_OFF_DURATION, TOTAL_OFF_TIMES, AVE_OFF_DURATION, AVE_OFF_TIMES, CDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from MDM_AA_POWER_OFF
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectCount" resultType="Integer">
		select count(*)
		from MDM_AA_POWER_OFF
		<where>
			<if test="mdmAaPowerOff.deptId != null and mdmAaPowerOff.deptId != ''">
				and DEPT_ID like concat(#{mdmAaPowerOff.deptId,jdbcType=VARCHAR},'%')
			</if>
			<if test="mdmAaPowerOff.orgId != null and mdmAaPowerOff.orgId != ''">
				and ORG_ID = #{mdmAaPowerOff.orgId,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.offType != null and mdmAaPowerOff.offType != ''">
				and OFF_TYPE = #{mdmAaPowerOff.offType,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.way != null and mdmAaPowerOff.way != ''">
				and WAY = #{mdmAaPowerOff.way,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.nowTime != null and mdmAaPowerOff.nowTime != ''">
				and NOW_TIME = #{mdmAaPowerOff.nowTime,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" resultMap="ResultMapWithBLOBs">
		 select 
	    <include refid="Base_Column_List" />
	    from MDM_AA_POWER_OFF
		<where>
			<if test="mdmAaPowerOff.deptId != null and mdmAaPowerOff.deptId != ''">
				and DEPT_ID like concat(#{mdmAaPowerOff.deptId,jdbcType=VARCHAR},'%')
			</if>
			<if test="mdmAaPowerOff.orgId != null and mdmAaPowerOff.orgId != ''">
				and ORG_ID = #{mdmAaPowerOff.orgId,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.offType != null and mdmAaPowerOff.offType != ''">
				and OFF_TYPE = #{mdmAaPowerOff.offType,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.way != null and mdmAaPowerOff.way != ''">
				and WAY = #{mdmAaPowerOff.way,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.nowTime != null and mdmAaPowerOff.nowTime != ''">
				and NOW_TIME = #{mdmAaPowerOff.nowTime,jdbcType=VARCHAR}
			</if>
		</where>
		order by REF_ID desc limit #{currIndex}, #{pageSize}
	</select>
	
	<select id="selectListByLine" resultMap="ResultMapWithBLOBs">
		 SELECT
			A.DEPT_ID,A.WAY,A.REF_CONTENT,
			A.USER_COUNT,A.OFF_USER_COUNT,
			A.OFF_THREE_USER_COUNT,A.TOTAL_OFF_DURATION,
			A.TOTAL_OFF_TIMES,
			A.AVE_OFF_DURATION,
			A.AVE_OFF_TIMES,
			B.DESCRIPTION AS LINE_NAME
		FROM
			MDM_AA_POWER_OFF A
		LEFT JOIN MDM_AM_LINE B ON A.REF_ID = B.ID
		<where>
			<if test="mdmAaPowerOff.deptId != null and mdmAaPowerOff.deptId != ''">
				and A.DEPT_ID like concat(#{mdmAaPowerOff.deptId,jdbcType=VARCHAR},'%')
			</if>
			<if test="mdmAaPowerOff.orgId != null and mdmAaPowerOff.orgId != ''">
				and A.ORG_ID = #{mdmAaPowerOff.orgId,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.offType != null and mdmAaPowerOff.offType != ''">
				and A.OFF_TYPE = #{mdmAaPowerOff.offType,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.way != null and mdmAaPowerOff.way != ''">
				and A.WAY = #{mdmAaPowerOff.way,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.nowTime != null and mdmAaPowerOff.nowTime != ''">
				and A.NOW_TIME = #{mdmAaPowerOff.nowTime,jdbcType=VARCHAR}
			</if>
		</where>
		order by A.REF_ID desc limit #{currIndex}, #{pageSize}
	</select>
	
	<select id="selectListByTm" resultMap="ResultMapWithBLOBs">
		SELECT
			A.DEPT_ID,A.WAY,A.REF_CONTENT,
			A.USER_COUNT,A.OFF_USER_COUNT,
			A.OFF_THREE_USER_COUNT,A.TOTAL_OFF_DURATION,
			A.TOTAL_OFF_TIMES,
			A.AVE_OFF_DURATION,
			A.AVE_OFF_TIMES,
			B.DESCRIPTION AS TM_NAME,
			C.DESCRIPTION AS LINE_NAME
		FROM
			MDM_AA_POWER_OFF A
		LEFT JOIN MDM_AM_TM B ON A.REF_ID = B.ID
		LEFT JOIN MDM_AM_LINE C ON B.LINE_ID = C.ID
		<where>
			<if test="mdmAaPowerOff.deptId != null and mdmAaPowerOff.deptId != ''">
				and A.DEPT_ID like concat(#{mdmAaPowerOff.deptId,jdbcType=VARCHAR},'%')
			</if>
			<if test="mdmAaPowerOff.orgId != null and mdmAaPowerOff.orgId != ''">
				and A.ORG_ID = #{mdmAaPowerOff.orgId,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.offType != null and mdmAaPowerOff.offType != ''">
				and A.OFF_TYPE = #{mdmAaPowerOff.offType,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.way != null and mdmAaPowerOff.way != ''">
				and A.WAY = #{mdmAaPowerOff.way,jdbcType=VARCHAR}
			</if>
			<if test="mdmAaPowerOff.nowTime != null and mdmAaPowerOff.nowTime != ''">
				and A.NOW_TIME = #{mdmAaPowerOff.nowTime,jdbcType=VARCHAR}
			</if>
		</where>
		order by A.REF_ID desc limit #{currIndex}, #{pageSize}
	</select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MDM_AA_POWER_OFF
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByOld" parameterType="com.inhe.mdm.model.MdmAaPowerOff" >
    delete from MDM_AA_POWER_OFF
    where WAY = #{way,jdbcType=VARCHAR} and
    	  DATA_TYPE = #{dataType,jdbcType=VARCHAR} and
    	  NOW_TIME = #{nowTime,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.inhe.mdm.model.MdmAaPowerOff" >
    insert into MDM_AA_POWER_OFF
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orgId != null" >
        ORG_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="way != null" >
        WAY,
      </if>
      <if test="refId != null" >
        REF_ID,
      </if>
      <if test="dataType != null" >
        DATA_TYPE,
      </if>
      <if test="nowTime != null" >
        NOW_TIME,
      </if>
      <if test="offType != null" >
        OFF_TYPE,
      </if>
      <if test="refContent != null" >
        REF_CONTENT,
      </if>
      <if test="userCount != null" >
        USER_COUNT,
      </if>
      <if test="offUserCount != null" >
        OFF_USER_COUNT,
      </if>
      <if test="offThreeUserCount != null" >
        OFF_THREE_USER_COUNT,
      </if>
      <if test="importantCount != null" >
        IMPORTANT_COUNT,
      </if>
      <if test="importantOffDuration != null" >
        IMPORTANT_OFF_DURATION,
      </if>
      <if test="importantOffTimes != null" >
        IMPORTANT_OFF_TIMES,
      </if>
      <if test="totalOffDuration != null" >
        TOTAL_OFF_DURATION,
      </if>
      <if test="totalOffTimes != null" >
        TOTAL_OFF_TIMES,
      </if>
      <if test="aveOffDuration != null" >
        AVE_OFF_DURATION,
      </if>
      <if test="aveOffTimes != null" >
        AVE_OFF_TIMES,
      </if>
      <if test="cdate != null" >
        CDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        #{refId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="nowTime != null" >
        #{nowTime,jdbcType=VARCHAR},
      </if>
      <if test="offType != null" >
        #{offType,jdbcType=VARCHAR},
      </if>
      <if test="refContent != null" >
        #{refContent,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null" >
        #{userCount,jdbcType=INTEGER},
      </if>
      <if test="offUserCount != null" >
        #{offUserCount,jdbcType=INTEGER},
      </if>
      <if test="offThreeUserCount != null" >
        #{offThreeUserCount,jdbcType=INTEGER},
      </if>
      <if test="importantCount != null" >
        #{importantCount,jdbcType=INTEGER},
      </if>
      <if test="importantOffDuration != null" >
        #{importantOffDuration,jdbcType=DOUBLE},
      </if>
      <if test="importantOffTimes != null" >
        #{importantOffTimes,jdbcType=INTEGER},
      </if>
      <if test="totalOffDuration != null" >
        #{totalOffDuration,jdbcType=DOUBLE},
      </if>
      <if test="totalOffTimes != null" >
        #{totalOffTimes,jdbcType=INTEGER},
      </if>
      <if test="aveOffDuration != null" >
        #{aveOffDuration,jdbcType=DOUBLE},
      </if>
      <if test="aveOffTimes != null" >
        #{aveOffTimes,jdbcType=DOUBLE},
      </if>
      <if test="cdate != null" >
        #{cdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.inhe.mdm.model.MdmAaPowerOff" >
    update MDM_AA_POWER_OFF
    <set >
      <if test="orgId != null" >
        ORG_ID = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="way != null" >
        WAY = #{way,jdbcType=VARCHAR},
      </if>
      <if test="refId != null" >
        REF_ID = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="nowTime != null" >
        NOW_TIME = #{nowTime,jdbcType=VARCHAR},
      </if>
      <if test="offType != null" >
        OFF_TYPE = #{offType,jdbcType=VARCHAR},
      </if>
      <if test="refContent != null" >
        REF_CONTENT = #{refContent,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null" >
        USER_COUNT = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="offUserCount != null" >
        OFF_USER_COUNT = #{offUserCount,jdbcType=INTEGER},
      </if>
      <if test="offThreeUserCount != null" >
        OFF_THREE_USER_COUNT = #{offThreeUserCount,jdbcType=INTEGER},
      </if>
      <if test="importantCount != null" >
        IMPORTANT_COUNT = #{importantCount,jdbcType=INTEGER},
      </if>
      <if test="importantOffDuration != null" >
        IMPORTANT_OFF_DURATION = #{importantOffDuration,jdbcType=DOUBLE},
      </if>
      <if test="importantOffTimes != null" >
        IMPORTANT_OFF_TIMES = #{importantOffTimes,jdbcType=INTEGER},
      </if>
      <if test="totalOffDuration != null" >
        TOTAL_OFF_DURATION = #{totalOffDuration,jdbcType=DOUBLE},
      </if>
      <if test="totalOffTimes != null" >
        TOTAL_OFF_TIMES = #{totalOffTimes,jdbcType=INTEGER},
      </if>
      <if test="aveOffDuration != null" >
        AVE_OFF_DURATION = #{aveOffDuration,jdbcType=DOUBLE},
      </if>
      <if test="aveOffTimes != null" >
        AVE_OFF_TIMES = #{aveOffTimes,jdbcType=DOUBLE},
      </if>
      <if test="cdate != null" >
        CDATE = #{cdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>